// 校验
//手机号码脱敏
var toHide = function (array) {
  if (!array) return;
  var mphone = array.substring(0, 3) + '****' + array.substring(7);
  return mphone;
}
// 名字脱敏
var toHideName = function (str) {
  if (str == undefined || str == "") {
    return "";
  } else {
    var arr = [];
    for (var i = 0; i < str.length - 1; i++) {
      arr.push("*");

    }
    return str.substring(0, 1) + arr.join("");
  }
}
// 预估时间弹窗设置左边日期 day 0:今天 1:明天 2:后天
var setFormateDate = function (day) {
  var date = getDate().getTime() + 1000 * 60 * 60 * 24 * day;
  date = getDate(date);
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = date.getDate()<10?'0' + date.getDate() : date.getDate();
  return Y + M + D;
}
// 判断字符串是否为空
var checkIsNull = function(val){
  return typeof val == "undefined" || val == null || val == ""
}
// 格式化时分
var formatHM = function (date) {
  if(checkIsNull(date)) return '';
  return date.slice(11,16);
}
var formatMd = function (date) {
  if(checkIsNull(date)) return '';
  return date.slice(5,10);
}
// 支付类型
var setPaymentState = function (status) {
  var obj = {
    '1': '未支付',
    '2': '已支付',
    '3': '支付失败',
    '4': '支付中'
  }
  return obj[status + '']
}
module.exports = {
  toHide: toHide,
  toHideName: toHideName,
  setFormateDate: setFormateDate,
  checkIsNull: checkIsNull,
  formatHM: formatHM,
  formatMd: formatMd,
  setPaymentState:setPaymentState
}